* {
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
}

.containe-crs {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/unoversidade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.containe-crs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/src/img/unoversidade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px) brightness(0.6);
  z-index: -1;
  opacity: 0.5;
}
.text-bg {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(255, 0, 0, 0.24); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-bg {
  width: 50%;
  margin: 10px 0;
  font-size: 38px;

  font-family: "DM Serif Display", serif;
  font-weight: 400;

  color: rgb(255, 255, 255);
  /* background-color: rgba(255, 255, 255, 0.219); */
}

.paragraph-bg {
  width: 80%;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: white;

  /* background-color: green; */
}

.container-lt {
  width: 100%;
  height: 55vh;
  background-color: #43dcdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-row {
  width: 300px;
  height: 120px;
  /* background-color: pink; */
  margin: 20px;
  border-right: 2px solid white;
}

.card-row2 {
  width: 300px;
  height: 120px;
  /* background-color: pink; */
  margin: 20px;
}

.titleh2 {
  width: 100%;
  height: 30px;
  /* background-color: red; */
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.paragraphcard {
  width: 90%;
  height: auto;
  font-size: 18px;
  margin: auto;
  /* background-color: green; */
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-crs {
  width: 50%;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

header.transparent {
  background-color: rgba(255, 255, 255, 0);
}

header.solid {
  background-color: rgba(255, 255, 255, 0.404);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
}

.logo img {
  height: 40px;
}

nav {
  margin: auto;
  /* background-color: red; */
}
nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(8, 218, 218);
  font-weight: bold;
}

.content {
  padding: 200px 20px;
  text-align: center;
}

a {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

a:focus,
a:hover {
  color: #fff;
}

a:focus:after,
a:hover:after {
  width: 100%;
  left: 0%;
}

a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/*scroll*/
body::-webkit-scrollbar {
  width: 12px;
  height: 20px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4fbbbc; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}
