* {
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
}

.containe-crs {
  width: 100%;
  height: 100vh;
  background-image: url(/src/img/unoversidade.jpg);
}

.text-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.24);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-bg {
  width: 90%;
  margin: 10px 0; /* Espaço entre o título e o parágrafo */
  font-size: 30px;
  background-color: pink;
  padding: 10px; /* Adiciona algum preenchimento interno */
}

.paragraph-bg {
  width: 90%;
  margin: 10px 0; /* Espaço entre o título e o parágrafo */
  font-size: 20px;
  background-color: green;
  padding: 10px; /* Adiciona algum preenchimento interno */
}

.container-cards {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
    to bottom,
    #4fbabc59 1%,
    #4fbabcc5 5%,
    #4fbabcd3 3%,
    #4fbbbc 45%,
    rgb(255, 255, 255) 0%
  );
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

header.transparent {
  background-color: rgba(255, 255, 255, 0);
}

header.solid {
  background-color: rgba(255, 255, 255, 0.404);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content {
  padding: 200px 20px;
  text-align: center;
}
