* {
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
}

.containe-crs {
  width: 100%;
  height: 75vh;
  background-color: aquamarine;
}

.container-cards {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    to bottom,
    aquamarine 30%,
    rgb(255, 255, 255) 0%
  );
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

header.transparent {
  background-color: rgba(255, 255, 255, 0);
}

header.solid {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content {
  padding: 200px 20px;
  text-align: center;
}
